<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<targets>
		<!-- File -->
		<target xsi:type="File"
				name="file"
				fileName="logs/Api.log"
				archiveFileName="logs/Api.{#}.log"
				archiveAboveSize="10485760"
				maxArchiveFiles="25"
				concurrentWrites="true"
				keepFileOpen="false"
				layout="${longdate}|${level:uppercase=true}|${logger}|${aspnet-user-identity}|${threadid}|${message:withException=true}" />
		<!-- Consola -->
		<target xsi:type="Console"
				name="console"
				layout="${longdate}|${level:uppercase=true}|${logger}|${aspnet-user-identity}|${threadid}|${message:withException=true}" />
	</targets>

	<rules>
		<logger name="Microsoft.*" minlevel="Info" writeTo="console" />
		<logger name="Infraestructura.Controllers.*" minlevel="Info" writeTo="file,console" />
		<logger name="Infraestructura.Services.*" minlevel="Info" writeTo="file,console" />
		<logger name="Weather.api.Controllers.*" minlevel="Debug" writeTo="file,console" />
		<logger name="*" minlevel="Info" writeTo="file" />
	</rules>
</nlog>
